@media(max-width: 1000px) {

    .header {
        padding-inline: 16px;
    }

    .header-input-container {
        left: 0px;
    }

    /*///////////////////////////////////////////////////////////////*/

    .profiles {
        display: none;
    }

    .main {
        width: auto;
    }

    .center-main {
        width: auto;
    }

    /*///////////////////////////////////////////////////////////////*/

    .mobile-footer-container {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;

        max-width: 100%;
        margin-top: 28px;
    }

    .mobile-footer-links {
        width: 80%;
    }

}

@media(max-width: 800px) {

    .header-input {
        width: 130px;
    }

}

@media(max-width: 680px) {

    .header-input-container {
        display: none;
    }

    .header-container {
        display: none;
    }

    .header-container-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
    }

    .mobile-header-icon {
        width: 28px;
        height: 28px;
    }

}

@media(max-width: 470px) {

    .main {
        width: 100%;
    }

    .timeline {
        width: 100%;
    }

    .stories-container {
        width: 100%;
        padding-inline: 0px;
        border-radius: 0px;
        border-inline: none;
        margin-bottom: 15px;
    }

    .post-head {
        width: 100%;
        border-radius: 0px;
        border-inline: none;
        margin-top: 0px;
    }

    .post-profile-pic-outline {
        margin-left: 12px;
    }

    .post-settings {
        margin-right: 18px;
    }

    .post-img {
        width: 100%;
    }

    .post-caption-margin {
        width: 94%;
    }

    .post-caption {
        width: 100%;
        border-radius: 0px;
        border-inline: none;
    }

    .comment-container {
        width: inherit;
        border: none;
    }

}