<div class="header dpf">
    <div class="header-container dpf">
        <div class="header-logo dpf">
            <p class="header-logo-text">Latergram</p>
            <img src="icon/icons8-pfeil_-ausklappen-16.png">
        </div>
        <div class="header-input-container dpf">
            <img class="header-input-icon" src="icon/icons8-suche-30.png">
            <input class="header-input" type="text" placeholder="Suchen">
        </div>
        <div class="header-icon-bar">
            <img class="header-icon" src="icon/icons8-startseite-32.png">
            <img class="header-icon" src="icon/icons8-in-meiner-nähe-32.png">
            <img class="header-icon" src="icon/icons8-plus-2-32.png">
            <img class="header-icon" src="icon/icons8-kompass-32.png">
            <img class="header-icon" src="icon/icons8-herzen-32.png">
            <img class="header-icon" src="icon/icons8-weiblicher-benutzer-eingekreist-32.png">
        </div>
    </div>

    <div class="header-container-mobile">

        <img class="mobile-header-icon" src="icon/icons8-kamera-32.png">

        <p class="header-logo-text">Latergram</p>

        <img class="mobile-header-icon" src="icon/icons8-in-meiner-nähe-32.png">

    </div>

</div>